{"name":"policy_1","users":["core", "root"],"actions":[""]}
{"name":"policy_2","users":["service_account"],"actions":["container_logs","container_top"]}
{"name":"policy_3","users":["kube"],"actions":["container"], "readonly":true }
